# Node.js
node_modules/

# Node Build Output
services/nexus-api/dist/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Python Tests Output
.pytest_cache/

# Go
services/orchestrator/orchestrator

# Mac OS
.DS_Store

# Flutter caching
.dart_tool/

# Assets
apps/mobile/assets/fonts/Inter/*.ttf
apps/mobile/assets/fonts/JetBrainsMono/*.ttf
